<div  id="box1"> 
  <div id="layer">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div id ="form_reg" >
      <div id="sign_up_heading" > 
        <h1>Sign up</h1> 
      </div>

      <div id="reg_form_email">
        <%= f.email_field :email,:id =>"reg_table_cell2",:class=>"sign_up" ,:placeholder =>"Email Id" %>
      </div>
      <div id="reg_form_uname">
        <%= f.text_field :username,:id =>"temporary",:class=>"sign_up", :placeholder=>"Username" %>
      </div>

      <div id="reg_form_pwd">
        <%= f.password_field :password,:class=>"sign_up", :placeholder=>"Password"%>
      </div>
      <div id="reg_form_pwd1">
        <%= f.password_field :password_confirmation,:class=>"sign_up", :placeholder=>"Re-type password" %>
      </div>
      <div colspan="2" id="sign_up_submit" >
        <%= f.submit "Sign up" %>
      </div>
    </div>
    <% end %>
  </div> <!-- form_reg -->

</div>
