<html>
<div id="ticker">
    </div>
<div class="container2">

<%= form_for(@article) do |f| %>


    <div id="titlefield" > <%= f.text_field :title ,:id=>"title", :style=>"height:40px;width:1000px;text-align:left;font-size:30px",:placeholder =>"Title" %> 
    </div>



<div id="ckeditor" >
    <%= f.text_area :content ,:class=>"ckeditor" %><br/>
</div>

<div id="tags" >
    <h3><font color="white" size="5px" ><%= f.label  "Tags:" %></font></h3>
</div>
   

<link href="tagit-stylish-yellow.css" rel="stylesheet" type="text/css"/>
    <link href="jquery-ui-base-1.8.20.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery.1.7.2.min.js"></script>
    <script src="/js/jquery-ui.1.8.20.min.js"></script>
<script src="/js/tagit.js" type="text/javascript" ></script>

    <script>
    $(function() {
            var availableTags = [
                "Fruits",
                "Vegetables",
                "CSS","Python","C","Go Go Go!","Comic"
            ];
                $('#demo1').tagit({tagSource:availableTags,sortable:true});
                $('#demo1GetTags').click(function () {
                showTags($('#demo1').tagit('tags'))
                });
    });
     function showTags(tags) {
                console.log(tags);
                var string = "";
                for (var i in tags)
                    string += tags[i].value + ",";      
        document.getElementById("article_tags").value=string;
                
            }

    </script>
<div id="tagbar" align="center" padding="100px" >
<br /> <br /> <br /> <br />
            <ul id="demo1" name="nameOfSelect" >
                <% if not @article.blank? %>
                    <% @article.tags.each do |tag| %>
                        <li><%= tag %></li>
                    <%end %>
                <% end %>
            </ul>
            <div class="buttons">
                <button id="demo1GetTags" value="Get Tags">Create Article</button>
            </div>


<%= f.hidden_field :tags %><br/><br/>
   
<% end %>
</div>

</html>