<div id="box1" >
<div id="showArticle" >
  <div id="title" >
    <h1>  <%= @article.title  %>  </h1>
  </div>
  <div id="articleContent" >
  <p><%= raw @article.content %></p>
  </div>
  <div id="articleDates" >
  <p>Created at: <%=@article.created_at %> || Updated at: <%= @article.updated_at %></p>
  </div>
  <div id="likeDislikeSpam" >
    Likes: <%=@article.liked_by.count %>
    Dislikes: <%= @article.disliked_by.count %>
    Spams: <%=@article.spamed_by.count %>
    <br/>


<% if user_signed_in? %>
  <% if ( @article.liked_by.include? current_user.id ) %>
	<%=form_for(@article,:action=>"update") do |f| %>
	<%= submit_tag "Un-Like", :name=>"unlike"%>
	<% end %>
  <% elsif ( @article.disliked_by.include? current_user.id ) %>
	<%=form_for(@article,:action=>"update") do |f| %>
	<%= submit_tag "Un-Dislike", :name=>"undislike"%>
	<% end %>
  <% elsif ( @article.spamed_by.include? current_user.id ) %>
	<%=form_for(@article,:action=>"update") do |f| %>
	<%= submit_tag "Un-Spam", :name=>"unspam"%>
	<% end %>
  <%  elsif ( not @article.owner.id == current_user.id ) %>
    <%=form_for(@article,:action=>"update") do |f| %>
     <%= submit_tag "Like", :name=>"like"%>
     <%= submit_tag "Dislike",:name=>"dislike"%>
     <%= submit_tag "Spam",:name=>"spam" %>
    <% end %>
  <% end %>
<% else %>
  <%=form_for(@article,:action=>"update") do |f| %>
  <%= submit_tag "Like", :name=>"like"%>
  <%= submit_tag "Dislike",:name=>"dislike"%>
  <%= submit_tag "Spam",:name=>"spam" %>
  <%end%>
<% end %>


<br /> <br />
  </div>
  
  <div id="articleTags" >
  Tags:
  <% @article.tags.each do |sin| %>
  <%= sin %>
  <% end %>
  </div>

  
  
  
<div id="comments" >
  <hr size="5"/>
  
  <h3>Comments:</h3>
  <% sorted_comments = @comments.sort_by { |x| x.created_at } %> 
  <% for comment in sorted_comments %>
  <%= comment.data %><br/> By <%= comment.by.username %><br/>
  Likes:<%= comment.comment_likes.count %> Dislikes:<%= comment.comment_dislikes.count %> Spams:<%= comment.comment_spams.count %>

  <% if user_signed_in? %>
  <% if ( comment.comment_likes.include? current_user.email ) %>
  <%=form_for [@article,comment] do |f| %>
  <%= f.hidden_field :comment_id, { :value => comment.id } %> 
  <%= submit_tag "Un-Like", :name=>"unlike"%>
  <% end %>
  <% elsif ( comment.comment_dislikes.include? current_user.email ) %>
  <%=form_for [@article,comment] do |f| %>
  <%= submit_tag "Un-Dislike", :name=>"undislike"%>
  <%= f.hidden_field :comment_id, { :value => comment.id } %>
  <% end %>
  <% elsif ( comment.comment_spams.include? current_user.email ) %>
  <%=form_for [@article,comment] do |f| %>
  <%= submit_tag "Un-Spam", :name=>"unspam"%>
  <%= f.hidden_field :comment_id, { :value => comment.id } %> 
  <% end %>
  <% elsif ( not comment.by.email == current_user.email ) %>
  <%=form_for [@article,comment] do |f| %>
  <%= f.hidden_field :comment_id, { :value => comment.id } %>
  <%= submit_tag "Like", :name=>"like"%>
  <%= submit_tag "Dislike",:name=>"dislike"%>
  <%= submit_tag "Spam",:name=>"spam" %>
  <%end%>
  <% else %>
  <%= link_to "Delete",[@article,comment],:confirm=>"Are you sure?", :method=>:delete ,:id=>comment.id %>
  <% end %>
  <% else %>
  <%=form_for [@article,comment] do |f| %>
  <%= f.hidden_field :comment_id, { :value => comment.id } %>
  <%= submit_tag "Like", :name=>"like"%>
  <%= submit_tag "Dislike",:name=>"dislike"%>
  <%= submit_tag "Spam",:name=>"spam" %>
  <%end%>
  <% end %>
  </div>

  <div id="commentform" >
  <hr/>
  <%end %>
  <%= render :template=>"comments/_form"%>
  <hr size="5"/>
  <% if user_signed_in? && current_user==Article.find(params[:id]).owner%>
  </div>
  <div id="buttons" >
  <%= link_to "Edit", edit_article_path(params[:id]) %> <%= link_to "Delete",@article,:confirm=>"Are you sure??", :method=> :delete%><br/><br/>
  <% end %>
  <%= link_to "Home", root_path %> <%= link_to "Back", :back%>
  </div>
  

</div>
<div id="about_box" >

<div id="about_in_show" >
<%= render "/users/about" %>
</div>
</div>


</div>
