<div id="profile" >
	<div id="right1" >

		<div class="info">
			<table width=100% > <!-- If modified here details also to be modified in js file -->
				<tr>
					<th style="font-family:arial;color:white;font-size:25px;" width="50%" height="50px" ><b><%= @user.username %></b></th>

				</tr>
			</table>
			<!--info-->


			<div class="tableWrap">
				<div id="details" width="100px" >
				</div>
			</div>
		</div><!--info-->
		<div class="info">
			<table width="100%" >
				<tr> <!--this row will be deleted when the table is expanded-->
					<th>
						<div id="gogogo" class="arrow-down">
						</div>
						<div id="gogogo2" class="arrow-up">
						</div>

					</tr>
				</table>
			</div> <!--info-->
			<% if @user==current_user %>
				<%= link_to "Edit Profile", edit_user_path(@user), :id=>"edit_profile" %>
			<% end %>
		</div>
<%= javascript_tag do %>
	var profile = {
		first_name: "<%= if @profile.first_name? then @profile.first_name else "NULL" end %>",
		last_name: "<%= if @profile.last_name? then @profile.last_name else "NULL" end %>",
		current_city: "<%= if @profile.current_city? then @profile.current_city else "NULL" end %>",
		hometown: "<%= if @profile.hometown? then @profile.hometown else "NULL" end %>",
		dob: "<%= if @profile.dob? then @profile.dob else "NULL" end %>",
		punch_line: "<%= if @profile.punch_line? then @profile.punch_line else "NULL" end %>",
		sex: "<%= if @profile.sex? then @profile.sex else "NULL" end %>",
		about: "<%= if @profile.about? then @profile.about else "NULL" end %>"
	};
	expand_profile(profile);
<% end%>