<div id="box1">     

    <div id="boxtop" >
        <%= render "button" %>
        <div id="box">
            <div id="allArticle">
            </div>
            <div id="recommendedArticle">
            </div>
            <div id="myArticle">
            </div>        
        </div>
    </div><!-- box top-->
</div><!-- box -->
    <%= javascript_tag do %>
        var total=0;
        <% if @suggested_articles %>
            total+=<%= @suggested_articles.length %>
            <% @suggested_articles.each do |article| %>
                var article = {
                    id: "<%=article.id %>",
                    title: "<%=article.title %>",
                    writer: "<%= article.owner.username %>" ,
                    date : "<%= article.created_at.strftime("%m/%d/%y") %>" ,
                    content: "<%= Nokogiri::HTML(article.content).text.gsub(/\s+/, ' ').strip.split(' ')[0,50].join(' ') %>",
                    tags: "<%= article.tags.join(" ") %>",
                    link: "<%= article_path(article.id) %>"
                };
                add_to_recommendedArticle(article);
            <% end %>
        <% end %>

        <% if @all_articles %>
            total+=<%= @all_articles.length %>
            <% @all_articles.each do |article| %>
                var article = {
                    id: "<%=article.id %>",
                    title: "<%=article.title %>",
                    writer: "<%= article.owner.username %>" ,
                    date : "<%= article.created_at.strftime("%m/%d/%y") %>" ,
                    content: "<%= Nokogiri::HTML(article.content).text.gsub(/\s+/, ' ').strip.split(' ')[0,50].join(' ') %>",
                    tags: "<%= article.tags.join(" ") %>",
                    link: "<%= article_path(article.id) %>",
                };
                add_to_allArticle(article);
            <% end %>
        <% end %>

        <% if @my_articles %>
            total+=<%= @my_articles.length %>
            <% @my_articles.each do |article| %>
                var article = {
                    id: "<%=article.id %>",
                    title: "<%=article.title %>",
                    writer: "<%= article.owner.username %>" ,
                    date : "<%= article.created_at.strftime("%m/%d/%y") %>" ,
                    content: "<%= Nokogiri::HTML(article.content).text.gsub(/\s+/, ' ').strip.split(' ')[0,50].join(' ') %>",
                    tags: "<%= article.tags.join(" ") %>",
                    link: "<%= article_path(article.id) %>"
                };
            add_to_myArticle(article);
            
            <% end %>
        <% end %>
        show_allArticle(total);
    <% end %>

