<ul id="article_heading">
			<li  id="heading1" ><button type="button" id="my_article" onclick="show_myArticle(total)" class="a1" >my articles</button>

			<li  id="heading2" ><button type="button" id="all_article" onclick="show_allArticle(total)" class="a1" >all articles</button>

			<li  id="heading3" ><button type="button" id="recommended_article" onclick="show_recommendedArticle(total)" class="a1" >recommended articles</button>
</ul>
