<%= form_for @user do |u| %>
    <%= u.fields_for @profile do |p| %>
<center>
    <table class="edit_profile_form_tab" cellspacing="10px">

        <tr>
            <th class="table_cell">
            <%= p.label :first_name , "First Name:" %> 
            </th>
            <th class="table_cell">
            <%= p.label :last_name, "Last Name:" %> 
            </th>
            </tr>
            <tr>
            <td class="table_cell">
            <%= p.text_area :first_name, :class=>"textArea1", :rows =>"1" %> 
            </td>
            <td class="table_cell">
            <%= p.text_area  :last_name, :class=>"textArea1",:rows =>"1" %> 
            </td>
        </tr>
        <tr >
            <td colspan="2" class="table_cell" >
            <%= p.label :sex_male , "Male" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= p.label :sex_female, "Female" %>
            </td>
        </tr>
        <tr >
            <td colspan="2"  class="table_cell" >
            <%= p.radio_button :sex,"male" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= p.radio_button :sex, "female" %>
            </td>
        </tr>
        <tr >

            <td  class="table_cell" valign="top">
             <%= p.label :current_city, :id=>"profile_cc" "Current City:" %> 
             </td>
                <td class="table_cell">
             <%= p.text_area :current_city, :class=>"textArea2", :rows =>"1" %>
            </td>
        </tr>
        <tr >
            <td  class="table_cell" valign="top">
            <%= p.label :hometown, :id=>"profile_ht" "Hometown:" %>
            </td>
            <td class="table_cell" valign="center">
            <%= p.text_area :hometown, :class=>"textArea2", :rows =>"1" %>
            </td>
        </tr>
        
        <tr>
            <td  class="table_cell" valign="top">
            <%= p.label :interests, :id=>"profile_int" "Interests:" %>
        </td>
        <td class="table_cell">
            <%= p.text_area :interests, :class=>"textArea2", :rows =>"1" , :value=>@profile.interests.join(',') %>   
	        </td>
        </tr>         
        <tr>
            <td class="table_cell" valign="top">    
            <%= p.label :punch_line, :id=>"profile_pnchln" "PunchLine:" %>
            </td>
            <td class="table_cell">
            <%= p.text_area :punch_line, :class=>"textArea2", :rows =>"1" %>
            </td>
        </tr>
        <tr>
            <td class="table_cell" valign="top" >
            <%= p.label :about, :id=>"profile_abt" "About:" %> 
        </td>
            <td class="table_cell">
            <%= p.text_area :about, :class=>"textArea3", :rows=>"5" %>
            </td>
        </tr>
        <!--<%= p.label :mobile_number, "Mobile Number:" %><br/>
        <%= p.text_field :mobile_number %><br/> -->
        <!--<%= p.label :employer, "Employer:" %><br/>
        <%= p.text_field :employer , :value=>@profile.employer.join(',')%><br/> -->
        <!--<%= p.label :school, "School:" %><br/>
        <%= p.text_field :school, :value=>@profile.school.join(',')%><br/> -->
        <!--<%= p.label :undergrad_university, "UnderGraduate University:" %><br/>
        <%= p.text_field :undergrad_university ,:value=>@profile.undergrad_university.join(',')%><br/> -->
        <!--<%= p.label :postgrad_university, "PostGraduate University:" %><br/>
        <%= p.text_field :postgrad_university ,:value=>@profile.postgrad_university.join(',')%><br/> -->
        <!--<%= p.label :religion, "Religion:" %><br/>
        <%= p.text_field :religion %><br/> -->
        <!--<%= p.label :politics, "Politics:" %><br/>
        <%= p.text_field :politics %><br/> -->
        </table>
        <%= p.submit "Update" %>
        
</center>        
    <% end %>
<% end %>
