<!--  Here all the code of without login home page should come, the code for interest grid and recommended articles without login-in is to added later. -->
<%= render :file => 'devise/registrations/new' %>