<% if  @profile.interests.count < 2 %>
  <%= render "interest_grid"  %>
<% elsif @user.sign_in_count==1 && session[:skip].nil? %>
    <%=render "form" %>
    <%= link_to "Skip",{:action=>"index",:controller=>"users",:skip=>1},:method=>:get %>
<% else %>
  <div id="blogger_and_wordpress" >
  <% if @blogger_account.nil? %>
     <%=  link_to image_tag("blogger_unsynced.png" ,:id=>"blogger_unsync"), new_user_blogger_account_path(@user) %> <br/> 
  <% else %>
    <%= link_to image_tag("blogger_synced.png" ,:id=>"blogger_sync" ),
    user_blogger_account_path(@user,@blogger_account) %><br/>
  <%end %>

  <% if @wordpress_account.nil? %>
    <%=  link_to image_tag("wordpress_unsynced.png" ,:id=>"wordpress_unsync" ),new_user_wordpress_account_path(@user) %> <br/>  
  <% else %>
    <%= link_to image_tag("wordpress_synced.png" ,:id=>"wordpress_sync" ),user_wordpress_account_path(@user,@wordpress_account) %><br/>
  <%end %>
  </div>
  <%= render "box"%>
  <%= render "about"%>
<% end %>
