
	<table id="interest_box" cellpadding="20" cellspacing = "20">
		<tr >
			<div class="art" >
				<td><%= image_tag("Screenshot-2.png" ,:id=>"arts" ) %>
				<%= image_tag("Screenshot-1.png" ,:id=>"arts2" ) %></td>
			</div>

			<div class="book" >
				<td><%= image_tag("Screenshot-3.png" ,:id=>"books" ) %>
				<%= image_tag("Screenshot-4.png" ,:id=>"books2" ) %></td>
			</div>

			<div class="business" >
				<td><%= image_tag("Screenshot-6.png" ,:id=>"biz" ) %>
				<%= image_tag("Screenshot-5.png" ,:id=>"biz2" ) %></td>
			</div>
		</tr>

		<tr >
			<div class="car" >
				<td><%= image_tag("Screenshot-7.png" ,:id=>"cars" ) %>
				<%= image_tag("Screenshot-8.png" ,:id=>"cars2" ) %></td>
			</div>

			<div class="culture" >
				<td><%= image_tag("Screenshot-9.png" ,:id=>"cult" ) %>
				<%= image_tag("Screenshot-10.png" ,:id=>"cult2" ) %></td>
			</div>

			<div class="family" >
				<td><%= image_tag("Screenshot-11.png" ,:id=>"fam" ) %>
				<%= image_tag("Screenshot-12.png" ,:id=>"fam2" ) %></td>
			</div>
		</tr>
		<tr >
			<div class="faishon" >
				<td><%= image_tag("Screenshot-13.png" ,:id=>"fais" ) %>
				<%= image_tag("Screenshot-14.png" ,:id=>"fais2" ) %></td>
			</div>

			<div class="food" >
				<td><%= image_tag("Screenshot-15.png" ,:id=>"fud" ) %>
				<%= image_tag("Screenshot-16.png" ,:id=>"fud2" ) %></td>
			</div>

			<div class="humor" >
				<td><%= image_tag("Screenshot-17.png" ,:id=>"hum" ) %>
				<%= image_tag("Screenshot-18.png" ,:id=>"hum2" ) %></td>
			</div>

		</tr>
		<tr>
			<td>
					<input type="submit" id="submit_interests" value="Submit" onclick="submit_interests('<%=@user.id %>')"/>
			</td>
		</tr>
	</div>
