<html>
<div id="mydiv">
		<div onClick="addpicture()" style="font:20px bold; cursor:hand">Click here for picture</div>
		<div onClick="addarticle()" style="font:20px bold; cursor:hand">Click here for article</div>

</div>

</html>
