<html>
<div id="pnotif">
<h2 style="background-color:#0099FF;color:#FFFFFF;width:100%">Personal Notifications</h2>
 <DIV id="innerpnotif" >
Personal Notifications	
</DIV><!-- inner pnotif-->

</div> 
</html>
