<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<table>
    <tr>
      <td>
      <%= f.label :email %><br />
      </td>
      <td>
      <%= f.email_field :email %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :username %><br />
      </td>
      <td>
        <%= f.text_field :username %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :password %><br />
      </td>
      <td>
        <%= f.password_field :password %>
      </td>
      </tr>
      <td>
        <%= f.label :password_confirmation %><br />
        </td>
        <td>
        <%= f.password_field :password_confirmation %>
        </td>
      </tr>
</table>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
<%= link_to "Home", root_path %>
