<html>
<div id="righttot" >
				   
			<input  value="Search"/>   <input type="submit" style=";background-color:#0099FF;border:0px;height:25" value="GO"/>

			   <br/>
			   <br/>
			   <br/>
	   		   <TABLE cellspacing=0 cellpadding=2 id=header bgcolor=#0099FF style="float:center" width="200px">
			   <COL WIDTH=100% >
			   <tr height=15%>
			   <th width=100%  style="font-family:arial;text-align:center" ><font color="white">Friends art</font></th></tr>
			   <tr height=15%>

			   <th width=100%  style="font-family:arial;text-align:center;" ><font color="white">Friends activity</font></th></tr>
			   <tr height=15%>

			   <th width=100% style="font-family:arial;text-align:center;"><font color="white">Artist suggestions</font></th></tr>
			   <tr height=15%>

			   <th width=100% style="font-family:arial;text-align:center;"><font color="white">Art suggestions</font></th></tr>

			   </TABLE>
			   <br/>
			   <br/>
			   <br/>


                             
</div>
</html>
