<html>
<div class="container">
<div id="ticker">
<div id="topmost" >
		<TABLE  cellspacing=0  cellpadding=2 id=header  >

			     <COL WIDTH=1000><COL WIDTH=500><COL WIDTH=200><COL WIDTH=300>
			   <tr height=30>
		           <th width=30%  style="text-align:left" ><h1 id="logo" style="cursor:pointer">YourFount</h1></th>
	  	           <th width=20%  style="text-align:left;" ><h1><%= current_user.username %></h1></th>
		           <th id="callprofile" width=25% style="text-align:center;"><font color="white">
		           	<h1 id="create_new_article"><%= link_to "Create new article", new_article_path %></h1>
		           </font></th>
			   <th width=70 style="text-align:right;" ><div id="highlightthis"><ul><li id="topright" style="text-align:center;"><img id="imagezoom" height=30 width=40% src="/assets/down_arrow2.jpeg" >

									<ul class="options">
										<li class="options1" ><%= link_to "Settings", edit_user_path(current_user.id), {:class=>"topright1" }%></li>
										<li class="options1" ><%= link_to "Sign Out",destroy_user_session_path , :method=>:delete, :class=>'topright1'%></li>
									</ul></ul>
			   </th>
			   </tr>
			   </TABLE>

</div> <!--topmost-->
</div>

</div>
</html>
