<html>
<div id="tickr">
<div id="topmost" >
		<TABLE  cellspacing=0 border=0 cellpadding=2 id=header >
			
			     <COL WIDTH=1000><COL WIDTH=500><COL WIDTH=200><COL WIDTH=300>
			   <tr height=30>
		           <th width=80%  style="text-align:left" ><h1>YourFount</h1></th>
	  	           <th width=20%  style="text-align:left;" ><h2><%= link_to "Register" ,new_user_registration_path , :style => 'text-decoration: none' %> | <%= link_to "Log in" , new_user_session_path , :style => 'text-decoration: none'%></h2></th>
			   </tr>
			   </TABLE>
		<p  id="profile"></p>
</div> <!--topmost-->
</div>
</html>
