<% if user_signed_in? &&  current_user==@user %>
	$("#homepage_with_login").empty().append("<%= j( render :partial=>'homepage_with_login') %>")
<% else %>
	$("#homepage_without_login").empty().append("<%= j( render :partial=>'homepage_without_login') %>")
<% end %>