<% if user_signed_in? &&  current_user==@user %>
	<div id="homepage_with_login">
			<%= render "homepage_with_login" %>
	</div>
<% else %>
	<div id="homepage_without_login">
			<%= render "homepage_without_login" %>
	</div>
<%end%>

