<html>
  <%= javascript_include_tag "myprofile","added" %>
<%= render "top2" %><br />

<%= render "box" %><!--box-->	<br />
<%= render "right" %><!--righttot -->

<%= render "pnotif" %><!--pnotif-->

<br/>




</html>
