/*contains all the css part of the html*/
                body{overflow-y: auto;
                /*	background-image:url('background.jpg')  ;background-repeat: no-repeat;background-size: 100%;background-position: left top;
                */

        background: url('background.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:white;
                }
				* { padding: 0; margin: 0; }

				body { padding: 5px; font-family:Helvetica, Arial, sans-serif; }
				ul{list-style: none;}/*for settings and logout button */
				#article_heading { height:50px;list-style: none; }

				#heading1 { left:0px;width:330px;position:relative; }
				#heading2 { top:-50px;left:330px;width:330px;position:relative; }
				#heading3 { top:-100px;left:660px;width:330px;position:relative; }

				ul a:hover {background: #09C; }
		
		/*ul a */	.a1{  width:330px; height: 50px;text-align: center; background: #69C; color: #FFF; }
                    .a2{  width:330px; height: 50px;text-align: center; background: gray; color: #FFF; }
                    
/*li > ul  li a{ display: table-cell; vertical-align: middle; width: 500px; height: 50px;text-align: center; background: #69C; color: #FFF; text-decoration: None }	
*/
				
/* a elements */		
		
				.topright1{ display: table-cell; vertical-align: middle; width:200px; height: 50px;text-align: center; background: #69C; color: #FFF; text-decoration: None }
				.type1{ display: table-cell; vertical-align: middle; width: 500px; height: 50px;text-align: center; background: #69C; color: #FFF; text-decoration: None }	
				
				.type2{ display: table-cell; vertical-align: middle; width: 500px; height: 50px;text-align: center; background: #69C; color: #FFF; text-decoration: None }	
				.artists1{ display: table-cell; vertical-align: middle; width: 500px; height: 50px;text-align: center; background: #69C; color: #FFF; text-decoration: None }	
				.artists2{ display: table-cell; vertical-align: middle; width: 500px; height: 50px;text-align: center; background: #69C; color: #FFF; text-decoration: None }	
				.genre1{ display: table-cell; vertical-align: middle; width: 500px; height: 50px;text-align: center; background: #69C; color: #FFF; text-decoration: None }		
				.img1{ display: table-cell; vertical-align: middle; width: 500px; height: 50px;text-align: center; background: #69C; color: #FFF; text-decoration: None }		

//li>ul {display: none; position: absolute; left: 0; top:100%; } 


/*				li > ul li > ul { left: 100%; top: 0; padding-left: 1px;}*/
/*ul elements */		.one {display: none; position: absolute; left: 0; top:100%; }
				.two {display: none; position: absolute;left: 100%; top: 0; padding-left: 1px;} 
				.options {display: none; position: absolute;  }
				.options:hover{display: block;background: #09C;}
				li:hover > ul {display: block; }
				li:hover > a {background: #09C; }
			

				.options1{width:100%;text-align:center;position:relative;  }
								
//li > ul li > ul  li {padding-top:1px; width: 100px; }
				.li2{padding-top:1px; width: 100px; }

				li:hover > a {background: #09C; }
		
				#topright {display: table-cell; vertical-align: middle; width: 100%; height: 10%;text-align: center;float:left;position:relative }
				#topmost{width:980px;padding-left:0px;padding-right:0px;margin:auto;position:relative;}
				#boxtop{  width:100%;top:0px;left:0px;margin:auto; position:relative;margin-top:50px;}
				#box1{width: 1000px;height:90%; margin-left:auto;margin-right:auto;top:50px;left:-100px;right:0;position:absolute;}
        		#box{  top:10px;width: 990px; height:550px;overflow-y: scroll; overflow-x: hidden;margin-left:auto;margin-right:auto;left:-5px;right:0;position:relative;}
				#tagit{top:150px;left:-400px;position:relative; }
				#pnotif{ width:300px; border-top:150px;top:-500px;border: 2px gray solid;left:550px ;margin:auto;position:relative;}
				#innerpnotif{overflow: auto; width: 200; height: 130px;  margin:auto;position:relative; padding:0px; margin: 0px}
				#righttot{width:300px ;top:-630px;left:550px;margin:auto;position:relative }
				
				#mydiv{width:200px;top:-230px;left:-200px;margin:auto;position:relative }
				#ticker{-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);
						-moz-box-shadow: 0 2px 3px rgba(0,0,0,.25);
						box-shadow: 0 2px 3px rgba(0,0,0,.25);
						z-index:10000;
						right:0;width:100%;top:0;position:relative ;background-color:#0f1f2c	}
                .container{top:0;left:0;right:0;width:100%;position:relative ;background-color: #ffffff;	}
                
				.info{width:90%;margin:auto;position:relative;color: white;}
				.info2{width:90%;background:#000000;margin:auto;position:relative}
				#suggest{top:90;width:90%;background:#000000;margin:auto;position:relative}
				hr1{border: 2px green solid;width: 115%;float:left;margin:auto}

				#profile{width:300px;top:-70px;left:640px;margin:auto;position:relative;background-color:rgba(0,0,0,0.6);color: white; }
				.highlight { background:yellow; }
/*create new article page */
				.container2{top:90px;overflow:hidden;width:1570px;height:700px;padding-left:0px;padding-right:0px;margin:auto;position:relative;}
				#titlefield{ top:50px;text-align:center;position:relative;}
				/*#content{ top:80px;left:280px;position:relative;}*/
				#ckeditor{ width:1000px;top:100px;text-align:center;left:280px;position:relative;}
				#tags{ text-align:center;top:120px;left:-470px;position:relative;}
				#tagbar{ text-align:center;top:20px;left:350px;position:relative;}
				#demo1GetTags{ text-align:center;position:relative;top:10px;left:-400px;}

/*create new article page */		

/*show article page*/	
#showArticle{color:white;margin-left: -150px;float:left;position:relative;}
#title{width:900px;top:30px;text-align:center;position:relative;}
#articleContent{width:900px;top:50px;text-align:justify;position:relative;}
#articleDates{width:900px;top:70px;text-align:left;position:relative;}
#likeDislikeSpam{width:900px;top:80px;text-align:left;position:relative;}
#articleTags{width:900px;top:90px;text-align:left;position:relative;}
#comments{width:900px;top:100px;text-align:left;position:relative;}
#commentform{width:900px;top:103px;text-align:left;position:relative;}
#buttons{width:900px;top:130px;text-align:left;position:relative;}
/*#about_box{top:100px;left:400px;position:relative;}*/
#about_box{top:170px;left:300px;position:absolute;}
#about_in_show{position: fixed;}
pre {background: transparent; padding: 10px;font-size: 18px;color: rgb(255,255,255);}

/*show article page*/	


/*interest grid*/
/*#grid_container{top:90px;margin-left:auto;margin-right:auto;position:relative;}*/
#interest_box{ top:100px;width: 600px; height:550px; margin-left:auto;margin-right:auto;position:relative;}
#submit_interests{top:30px;left:250px;margin-left:auto;margin-right:auto;position: relative;}
/*interest grid*/

/* edit profile page */
.edit_user{text-align:center;color:white;padding-top: 100px;font-size: 20px;}
.edit_profile_form_tab{text-align: center;text-align:center; 
	background-color:rgba(0,0,0,0.6);color: white;}
.table_cell{font-size: 20px;font-weight: bold;position: relative;text-align: center;}
#profile_cc{}
#profile_ht{}
#profile_int{}
#profile_abt{}
#profile_pnchln{}
.table_right{text-align: left;}
.textArea1{font-size: 25px;width: 400px;height: 29px;}
.textArea2{font-size: 20px;width: 400px;height: 24px;}
.textArea3{font-size: 25px;width: 400px;}
/* edit profile page */

/* register form new.html page*/
#re_page{text-align: center;}
#form_reg{width: 420px;height:500px;float:right;top:50px;right:-300px;z-index: 100;position: relative;
background-color:rgba(0,0,0,0.6);color: white;}

#trialaria{-moz-box-sizing: border-box;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: 11px;
	text-overflow: ellipsis;
	white-space: nowrap;}
#reg_form_email{font-size: 20px; font-weight: bold;margin-top: 10px;position: relative; }
#reg_form_uname{font-size: 20px;font-weight: bold;margin-top: 10px;position: relative; }
#reg_form_pwd{font-size: 20px;font-weight: bold;margin-top: 10px;position: relative; }
#reg_form_pwd1{font-size: 20px;font-weight: bold;margin-top: 10px;position: relative; }

.sign_up{font-size: 27px;width:400px;height:35px;margin:10px;position: relative;
	-moz-border-radius: 5px;
	border-radius: 5px;}
#sign_up_submit{font-size: 20px;font-weight: bold;margin-top: 10px;
	text-align: center; position: relative; }
#sign_up_heading{margin-top: 90px;text-align: center; position: relative;}
/*#reg_table_cell1{font-size: 20px;font-weight: bold;}
*/
/*register form*/

/*application.html*/
/*#footer{
	color: blue;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	vertical-align: middle;
	}*/

.footerapp, .push{clear: both;}
.footerapp{
		left:50px;
		bottom:0px;
		height:30px;
		width:1400px;
		position: fixed;
		background-color:#0099FF;
	
}
/*    background: yellow;
    -moz-box-shadow: 1px 1px 0 orange, 2px 2px 0 orange, 3px 3px 0 orange;
    -webkit-box-shadow: 1px 1px 0 orange, 2px 2px 0 orange, 3px 3px 0 orange;
    box-shadow: 1px 1px 0 orange, 2px 2px 0 orange, 3px 3px 0 orange;
*//*
background-color: #0000FF ;text-decoration: none;bottom: 0px;left: 0px;height: 30px;width: 100%;vertical-align: middle;
*/


/*application.html*/

.hover
{
    position: absolute;
    z-index: 10;
    position: relative;
}
.next
{
	z-index: -1000;
	top:10px;
    position: absolute;
    /*color:white;*/
}

.node
{
    text-align: justify; margin-top:10px;margin-left: 10px ;margin-right: 10px;position: relative;
}

.node1
{
    text-align: justify; margin-top:10px;margin-left: 10px ;margin-right: 10px;position: relative;
}
.prev
{
    margin-bottom: 100px;
}

/* arrows */
.arrow-down {
	width: 0; 
	height: 0;
	left:120px;
	position: relative; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid rgb(0, 224, 255);
}
.arrow-up {
	width: 0; 
	height: 0;
	left:120px;
	position: relative;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-bottom: 20px solid rgb(0, 224, 255);
}
/* arrows */

#ibox{
    position:absolute;
    overflow-y:none;
    background:gray;
    border:1px solid gray;
    z-index:1001;
    display:none;
    padding:4px;
    -webkit-box-shadow: 0px 0px 6px 0px #bbb;
    -moz-box-shadow: 0px 0px 6px 0px #bbb;
    box-shadow: 0px 0px 6px 0px #bbb;
    transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s; /* Opera */
}

a:hover{
	background-color: transparent;
}
a{
	color:white;
}
a:visited{
	color:white;
}
#blogger_and_wordpress{
	top:100px;
	left:-600px;
	width:10%;
	margin:auto;
	position: relative;
}
#blogger_unsync{
	top:50px;
	position: relative;
}
#wordpress_unsync{
	top:80px;
	left:-10px;
	position: relative;
}
#blogger_sync{
	top:50px;
	position: relative;
}
#wordpress_sync{
	top:80px;
	left:-10px;
	position: relative;
}
#edit_profile{
	top:20px;
	left:130px;
	position: relative;
}