<h3>We are unable to save following article:</h3><br/>

<div id="list_of_blogger_articles">
<%= render 'list_of_blogger_articles' %>
</div>

<input type="submit" id="synchronize_blogger" value="Re Sync" onclick="synchronize_blogger('<%=@user.id %>','<%=@user.blogger_account.id %>')"/>

<%= link_to "Remove", [@user,@blogger_account],:confirm=>"Are you sure??", :method=> :delete %>