<%= form_for [@user,@wordpress_account] do |f| %>

	Username: <%=f.text_field :username %>
	<br/>
	Password: <%=f.password_field :password %>
	<br/>
	Blog Link(example-- example.wordpress.com ): <%= f.text_field :blog %><br/>

<%=f.submit "Synchronize Wordpress" %>
<%end %>