<h1> <%= @user.wordpress_account.blog %> </h1><br/>

<h3>We are unable to save following article:</h3><br/>

<div id="list_of_wordpress_articles">
<%= render 'list_of_wordpress_articles' %>
</div>
<input type="submit" id="synchronize_wordpress" value="Re Sync" onclick="synchronize_wordpress('<%=@user.id %>','<%=@user.wordpress_account.id %>')"/>

<%= link_to "Remove", [@user,@wordpress_account],:confirm=>"Are you sure??", :method=> :delete %>