    <!DOCTYPE html>
<html>
<head>
  <title>YourFount</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
  <%= csrf_meta_tags %>
</head>
<body >

<% if user_signed_in? %>
    <%= render "users/top" %><br />
<% else %>
    <%= render "users/top2" %><br/>
<% end %>

<% flash.each do |name, msg| %>
     <%= content_tag  "p style=\"color:red\"",msg, :id => "flash_#{name}"%>
<% end -%>

<%= yield %>
<br/>
<!--
<div class="push"></div>
<div class="footerapp">
<footer>
<a href="localhost:3000/Help" >Help</a>
<a href="mailto:admin@yourfount.com" >Contact</a>
<a href="#" >About Us</a>
<a href="#" >FAQ</a>
-->
</footer>
</div>
</body>
</html>
